@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f0518;
  color: #e2e8f0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a0b2e; 
}
::-webkit-scrollbar-thumb {
  background: #432c7a; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5b21b6; 
}